<div class="docuContent">
    <div class="docuContentHeader">API Definitions</div>
    {{> tocEntryPartial parameter=interface.api.call}}
    {{> tocEntryPartial parameter=interface.api.register}}
</div>